@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,600;1,800&display=swap");

* {
  /* font-family: "Inter", sans-serif; */
  font-family: 'Open Sans', sans-serif;
}

#section1_header {
  background-image: url("./assets/img/other/background.jpg");
}

#explore_header {
  background-image: url("./assets/img/other/bg-cat-1.jpg");
}

#explore_container {
  max-height: 100vh;
  overflow-y: scroll;
}

#explore_container::-webkit-scrollbar {
  display: none;
}

.post-single-image {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

#t_area {
  width: 100%;
  padding: 10px;
  border-color: white;
}

#t_area::placeholder {
  font-size: 14px;
  color: rgb(199, 199, 199);
}

.add {
  cursor: pointer;
  padding: 15px 0;
}

.image_container {
  /* background-color: red; */
  /* height: 35vh; */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: 30vh;
  /* width: 50vh; */
}

.header_container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.delete_form {
  cursor: pointer;
  height: 10px;
  width: 11px;
  margin-right: 10px;
  margin-top: 15px;
}

.publish {
  display: flex;
  justify-content: space-between;
  /* padding-left: 25px; */
  padding-bottom: 3vh;
}

.pointer {
  cursor: pointer;
}

#t_area::-webkit-scrollbar {
  display: none;
}

#draftsection::-webkit-scrollbar{
   display: none;
}

#title::-webkit-scrollbar {
  display: none;
}

#t_area::placeholder {
  font-size: 17px;
}

#title {
  width: 100%;
  /* padding: 10px; */
  border-color: white;
  font-size: 32px;
}

#title::placeholder {
  color: rgb(233, 233, 233);
  font-size: 32px;
}


.explore_search_container {
  display: flex;
  width: 100%;
  padding-bottom: 25px;
  /* background-color: red; */
}

.exp_form {
  width: 100%;
}

.exp_btn {
  margin-left: 35px;
}

.previewContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}

.alert_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
}

.signup_alert {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.alert_inner {
  height: 30px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-left: 10px;
  flex-direction: row;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px 20px;
  margin-top:10vh;
}

.signup_alert_inner {
  height: 30px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-left: 10px;
  flex-direction: row;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px 20px;
  margin-top:10vh;
}

#explore_cont {
  padding-top: 15vh;
}
